:root {
    --secondary-color-dark: #011C44;
    --secondary-color-light: #2B7FFF;
    --primary-color-dark: #000;
    --primary-color-light: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: white;
    color: var(--secondary-color-dark);
    margin: 0;
    
}
p{
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--secondary-color-dark);
    font-size: 64px;
    line-height: 74px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.title_decor {
    color: var(--secondary-color-light);
}

/*Container*/
.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 100px;
    
}

/*Header*/
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 106px;
    background-color: rgba(255, 255, 255, 0.25);
    
}

.header__nav {
    display: flex;
    align-items: center;
    padding: 32px 0;
    gap: 240px;
    

}

.link{
    color: var(--secondary-color-dark);
}

.link:hover{
    color: var(--secondary-color-light);
    
}

.header__menu {
    display: flex;
    gap: 56px;
    font-size: 18px;
    line-height: 21px;
    color: var(--primary-color-dark);
}

.header__contacts {
    display: flex;
    gap: 32px;
    align-items: center;
}



/*Hero section*/
.hero_section {
    padding-top: 106px;
    height: 657.93px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
 
}
.hero {
    margin-top: 12px;
    max-width: 530px;

}

.hero__title {
    font-size: 140px;
    line-height: 114px;
    color: var(--secondary-color-light);
    margin: 16px 0 40px 0;
    
}

.hero__btn-desc {
    font-size: 12px;
    width: 220px;
    margin-top: 14px;
    text-align: center;
}

.order_button {
    background-color: var(--secondary-color-light);
    color: var(--primary-color-light);
    border-radius: 32px;
    padding: 16px 32px;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border: none;
    width: 220px;
}

/*About*/
.about {
    display: flex;
} 

.about__desc {
    margin-top: 40px;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 22px;
}

.about__image {
    
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.about__image:last-child{
    align-items: flex-end;
}


.about__image__img{
    width: 327px;
    height: 327px;
}



